
#root {
  /* max-width: 1880px; */
  padding-top: 0.5rem;
  padding-bottom: 4rem;
  text-align: center;
  
  /* CSS HEX */
--satin-sheen-gold: #AB9C41ff;
--timberwolf: #D9D2CAff;
--raisin-black: #1F1F27ff;
--onyx: #434242ff;
--butterscotch: #CA8C3Fff;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
